.resultsCol {
    margin-bottom: 35px !important;
    display: flex !important;
    justify-content: center;
}

#resultHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultsCard {
    height: 100%;
    background-color: rgb(17, 22, 27) !important;
    border: 1px solid #95BF47 !important;
    box-shadow: 0 5px 15px 0 black !important;
}

.nomBtnContainer {
    border: none !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nomBtn {
    margin: 0 !important;
}

#nomBanner {
    max-width: 396px;
    margin: 14px;
}

#nomBannerText {
    text-align: left;
}