.nomItem {
    display: flex !important;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-bottom: 20px !important;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(17, 180, 166);
}

#nomColumn {
    max-width: 250px;
}

#nomHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomImgTextContainer {
    display: flex;
    padding-bottom: 10px;
}

.nomTextContainer {
    padding-left: 10px;
}

#nomBanner {
    margin-left: 14px;
    margin-right: 14px;
    padding: 14px; 
}