#grid {
  margin: 35px 16px;
}

#searchContainer {
  justify-content: left;
}

.titleLine {
  width: 75px;
  /* border-top: 2px solid rgb(17, 180, 166); */
  border-top: 2px solid #95BF47;
  margin-top: 4px;
}

#pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pageHeadLine {
  width: 125px;
  border-top: 2px solid #95BF47;
  margin-top: 5px;
}

h1, h2, h3, h4, h5, h6, p, div, button {
  color: rgb(233, 233, 233) !important;
}

@media screen and (max-width: 767px) {
  #searchContainer {
    justify-content: center;
  }

  #grid {
    padding-bottom: 50px;
  }
}