.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

#grid {
  margin: 16px;
}

#searchContainer {
  justify-content: left;
}

.titleLine {
  width: 75px;
  border-top: 2px solid rgb(17, 180, 166);
  margin-top: 4px;
}

#pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pageHeadLine {
  width: 125px;
  border-top: 2px solid rgb(17, 180, 166);
  margin-top: 5px;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
